<p>
  Tabla de tareas (ToDos) la cuál debe tener un formulario reactivo con un input para el nombre de la tarea y un botón para agregar cada tarea. Dichas tareas se guardarán en LocalStorage con nombre y fecha. La tabla debe mostrar un checkbox para completar la tarea, su nombre, la fecha de creación (con formato YYYY/MM/DD HH:MM) y un botón para eliminar individualmente cada tarea.
Se deben mostrar por separado las tareas completadas de las que están por completar.
</p>
<br>
<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre de la tarea" value="Tarea1">
  </mat-form-field>
  <button mat-raised-button color="primary">Agregar</button>
  
</form> -->


<div class="App">
  <div class="todo-wrapper">
    <app-header></app-header>
    <app-todo-input></app-todo-input>
    <hr>
    <br>
    <div *ngFor="let todo of todoService.getTodos()">
      <app-todo-item [todo]="todo"></app-todo-item>
    </div>
  </div>
</div>